# Laboratorio #2 Clasificacion
#### Integrantes:

- Pedro Pablo Arriola Jiménez (20188)
- Gabriel Alejandro Vicente Lorenzo (20498)



###### Descripción: La Universidad de California en Irving (UCI) tiene un repositorio de datos sin igual.  Allí se pueden encontrar datos de cualquier tipo para practicar el desarrollo de modelos, etc.  En esta   oportunidad   se   ha   seleccionado   un   conjunto   de   datos   que   sirve   para   clasificar imágenes identificando si una paciente tiene cáncer de la mama o no.

In [3]:
# Se inicia importando las librerias necesarias para abordar el problema

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# Ahora se importan los datos y se cargan a un DataFrame de Pandas

# Por comodidad, los datos fueron trasladados a un archivo CSV y se agregaron los nombres de las columnas
data = pd.read_csv('breast-cancer-wisconsin.csv')
data

,id_number,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4